<div class="nes-container with-title">
  <p class="title">{{mapInfo.name}}</p>
  <div class="card mb-4 box-shadow">
    <a routerLink="/maps/{{mapInfo.name}}">
      <img class="card-img-top" src="{{mapInfo.pictureDataUrl}}" alt="Map Picture" >
    </a>
    <div class="card-body">
      
      <div class="dflex justifiy-content-between align-items-center">
        <p class="card-text">{{mapInfo.description}}</p>       

        <div class="card-footer">
          <a routerLink="/maps/{{mapInfo.name}}">
            <button type="button" class="nes-btn">View</button>
          </a>
          <a *ngIf='showAuthor' routerLink="/users/{{mapInfo.username}}">
            <button type="button" class="nes-btn">By: {{mapInfo.username}}</button>
          </a>
        </div>
        
      </div>
    </div>
  </div>  
</div>