<!-- https://codepen.io/kpourdeilami/pen/KDepk?editors=1010 for expanding text -->
<!-- https://angular.io/guide/forms -->
<!-- TODO: add name to inputs? -->
<main role='main' class='container'>
  <div class="row">
    <form #mapForm='ngForm' (ngSubmit)='onSubmit()' class='col-xs-12 col-lg-6 mx-auto nes-container with-title is-centered'>
      <h2 class="title">
        <input  type='text' class='form-control nes-field h3' required placeholder="Map name here"
          #mapName name='map-name' id='map-name'[(ngModel)]='uploadMap.mapname'/>
      </h2>
      
      <div class="card mb-8 box-shadow">
        <img class="card-img-top" [src]="uploadMap.image ? uploadMap.image : defaultMapPic" alt="Map Picture">

        <div class="card-body dflex justifiy-content-between align-items-center">
          <!-- <button type="button" class="nes-btn">Upload Picture</button> -->
          <!-- <div class="form-group">
            <input type="file" class="filestyle" data-icon="false">
          </div> -->
          <div class="upload-btn-wrapper form-group">
            <button class="nes-btn">Upload an image</button>
            <input type="file" accept='image/*' class='form-control' required (change)='readImage($event)'
              #mapPic  name="map-pic" id='map-pic'/>
          </div>     

          <div class='upload-btn-wrapper form-group'>
            <button class="nes-btn">Upload the Map File</button>
            <input type='file' class='form-control' required (change)='readFile($event)'
              #mapFile name='map-file' id='map-file'/>
          </div>
            

          <div class="form-group">
            <label for='map-info-input'>Map Description:</label>
            <textarea class='form-control nes-textarea' maxlength="255" minlength="10" required 
              #mapInfo='ngModel' name='mapInfo' [(ngModel)]='uploadMap.description'
              placeholder="Write about what makes your map unique"></textarea>            
              <div [hidden]='mapInfo.valid || mapInfo.pristine' class='alert alert-danger'>
                A description is required
              </div>
              <br>
              <!-- <P>{{mapDescription.className}}</P> -->
              <!-- <p>Form valid? {{mapForm.form.valid}}</p> -->
          </div>
          <p *ngIf='uploadMap.mapFile'>Map File here</p>
          <p *ngIf='uploadMap.pictureFile'>Picture File here</p>
          <button type="submit" class="nes-btn is-disabled" 
            [className]="mapForm.form.valid  && uploadMap.mapFile && uploadMap.pictureFile ? 'nes-btn is-primary' : 'nes-btn is-disabled'" [disabled]='mapForm.form.valid'>Submit Map</button>
        </div>  
      </div>
          
    </form>
  </div>
</main>
