<main role='main'>
  <div class="container">
    <div class="row">
      <div class="col-sm-8" *ngIf='map' >
        <app-map-card [mapInfo]='map' [showAuthor]='true' [showView]='false'></app-map-card>
      </div>
    </div>
  </div>
</main>


<!-- <main role='main'>
    <section id='map-spotlight' class='container nes-container with-title'>
      <h2 class="title" *ngIf='map; else defaultTitle'>{{map.name}}</h2>
      <ng-template #defaultTitle>Finding that map...</ng-template>
      
      <div class="container">
        <div class="row">
          <div class="image-preview col-8">
            <img *ngIf='map' src="{{map.pictureDataUrl}}" alt="A preview of the map">
          </div>
          <div *ngIf='map' class="map-description">
            <p>{{map.description}}</p>
          </div>
        </div>
      </div>
        
    </section>  
  </main> -->