<main role='main'>
    <section id='map-spotlight' class='container nes-container with-title'>
      <h2 class="title">Who am I?</h2>
      <div class="messages">
        <div class="message -left">
          <i class="nes-bcrikko"></i>
          <div class="nes-balloon from-left">
            <p>Hello NES.css</p>
          </div>
        </div>
      </div>
        
    </section>
  
    <section id='user-maps' class='container nes-container with-title'>
        <h2 class="title">My Maps</h2>      
        <app-map-list [mapCards]='myMaps'></app-map-list>
    </section>
  </main>