<main role=main>
    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Welcome to Map Maze *Not Logged in*</h1>
        <p class="lead text-muted">We're a proud community of creators, programmers and artists who came together to share what we love: Video game maps!</p>
        <p>
          <a routerLink='/register' class="nes-btn is-primary">Register an account</a>
        </p>
      </div>
    </section>
    
    <section class='container nes-container with-title is-centered'>
      <h1 class="title">Maps of the day</h1>      
        <app-map-list [mapCards]='mapCards'></app-map-list>
    </section>
  </main>